<div class="container-fluid row ">
    <div class="col-sm-3">
    </div>
    <div class="col-xl-7">
            <h1 class="text-center" >Order Overview</h1>
            <table class="table table-striped">
                    <thead>
                    <th >Name</th>
                    <th >Description</th>
                    <th >Price</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let product of selectedProducts">
                    
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    </tr>
                    
                    </tbody>
            </table>
    </div>
    
    <div class="col-xl-9">
        <p style="text-align:right;" > Total : {{total}}</p>
    </div>
  
    <div class="container col-xl-6">  
            <p></p>
            <p></p>
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" >
    <div class="form-group">
        <input type="text" formControlName="promoCode" placeholder="Promotion" />
    </div>
    <div class="form-group">
        <input type="text" formControlName="cardNo" placeholder="Card Number" size="16"  />
    </div>
    <div >

        <button type="submit" class="btn btn-primary" >Complete Order</button>
        <button type="button" class="btn btn-secondary" [routerLink]="['../home']">Cancel</button>
    </div>
    </form>
    </div>
      
</div>
