<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
        <span>ECS</span> <span class="spacer"></span>
        <div>
          <button mat-button [routerLink]="['/']">Home</button>
        </div>
        <div *ngIf="!isLoggedin() else Sign out" >
          <button mat-button [routerLink]="['/sign-in']">Sign in</button>
        </div>
        <ng-template #Sign out>
          <div><button mat-button [routerLink]="['/checkout']">Checkout</button></div>  
          <div><button mat-button (click)="logOut()">Sign out</button></div>
         </ng-template>
      </mat-toolbar>
      <div class="container">
        <router-outlet></router-outlet>  
      </div>
      